/* * {
	outline: 1px dashed red;
} */

body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	background-color: #f2f2f2;
}

h2, form, p {
	width: 100%;
	margin: 1%;
}

form .btn-primary {
	background-color: #0568A6;
}
